<!index html>
	<html >
	<!--From https://codepen.io/frytyler/pen/EGdtg-->
	<head>
	  <meta charset="UTF-8">
	  <title>Credit Status</title>
	  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	  
	</head>



	<body style="background-color:lightgrey; >
	 <div class="login">
		<h1 style="color:Green"><b><center> Predict Credit Status (Good/Bad) </center></b></h1>
		
		 
		<h2 style="color:Maroon;"> Please enter input </h2>

	     <!-- Main Input For Receiving Query to our ML -->
	    <form action="{{ url_for('predict')}}"method="post">
	    	
		
		<p style="color:blue"><b>Current Account check status None:</b></p>
		<input type="radio" name="CurrentAcc_None" value="1" required="required">
  		<label for="1">Yes</label>
  		<input type="radio" name="CurrentAcc_None" value="0" required="required">
  		<label for="0">No</label><br>

		<p style="color:blue"><b>Number of months (enter positive integer values)</b></p>
		<p><input type="number" step="1"  name="NumMonths" placeholder="No.of months" min="0" required="required"/></p>

		<p style="color:blue"><b>Credit ever delayed(including past):</b></p>
		<input type="radio" name="CreditHistory_Delay" value="1" required="required">
  		<label for="1">Yes</label>
  		<input type="radio" name="CreditHistory_Delay" value="0" required="required">
  		<label for="0">No</label><br>

		<p style="color:blue"><b>Credit none taken/all paid(including past):</b></p>
		<input type="radio" name="CreditHistory_none/paid" value="1" required="required">
  		<label for="1">Yes</label>
  		<input type="radio" name="CreditHistory_none/paid" value="0" required="required">
  		<label for="0">No</label><br>

		<p style="color:blue"><b>Collateral (savings/life_insurance)</b></p>
		<input type="radio" name="Collateral_savings/life_insurance" value="1" required="required">
  		<label for="1">Yes</label>
  		<input type="radio" name="Collateral_savings/life_insurance" value="0" required="required">
  		<label for="0">No</label><br>

		<p style="color:blue"><b>Current account check status >200</b></p>
		<input type="radio" name="CurrentAcc_GE200" value="1" required="required">
  		<label for="1">Yes</label>
  		<input type="radio" name="CurrentAcc_GE200" value="0" required="required">
  		<label for="0">No</label><br>

		<p style="color:blue"><b>Purpose of credit (Repairs):</b></p>
		<input type="radio" name="Purpose_repairs" value="1" required="required">
  		<label for="1">Yes</label>
  		<input type="radio" name="Purpose_repairs" value="0" required="required">
  		<label for="0">No</label><br>
	    			
		
		<p style="color:blue"><b>Purpose of credit (Radio/TV):</b></p>
		<input type="radio" name="Purpose_radio/tv" value="1" required="required">
  		<label for="1">Yes</label>
  		<input type="radio" name="Purpose_radio/tv" value="0" required="required">
  		<label for="0">No</label><br>

		
		<p style="color:blue"><b>Gender:</b></p>
		<input type="radio" name="Gender" value="1" required="required">
  		<label for="1">Male</label>
  		<input type="radio"  name="Gender" value="0" required="required">
  		<label for="0">Female</label><br>
  		
		<p style="color:blue"><b>Age:</b></p>
		<input type="radio" name="Age" value="1" required="required">
  		<label for="1">Greater or equal to 26</label>
  		<input type="radio" name="Age" value="0" required="required">
  		<label for="0">Less than 26</label><br>
  				
	
       <center><b><button style="color:black;font-family:calibri;font-size:20px;background-color:gold; height: 30px; width: 230px"; type="submit" class="btn btn-primary btn-block btn-lg">Predict</button><b></center><br>
	<center><button type="reset">Reset the form</button><br><br></center>
		<br>
	

	    </form>
	

	   <br>
	   <br>
		
	   <p><center><h2>{{ prediction_text }}</h2></center></p>
	

	 </div>
	<style>
        body {
              background-image: url('https://di-uploads-pod11.dealerinspire.com/cars/uploads/2019/02/bad-credit-car-dealerships-columbus-1-2.6.jpg');
              background-repeat: no-repeat;
              background-size: 100% 95%;
              }
      </style>

	<!-- Footer -->
	<div>
	<center><p class='footer-description'>Page by Krishna J.</p></center>

                 	</div>
	
		
	</body>
	</html>

